Django>=1.7.0
factory-boy~=3.0.1
coverage~=5.4
pytest>=8.1.0
pytest-django>=4.8.0
readme-renderer~=44.0
twine~=3.3.0
coveralls~=3.0.0
Pillow~=10.4.0 # For ImageField
wheel~=0.45.1

### SELENIUM ###
# Known issue: https://github.com/SeleniumHQ/selenium/issues/8762
# Python 3.6 should use because selenium 4 doesn't work with py3.6
# selenium~=3.141.0

# Others should use
selenium~=4.0.0.a5
### END SELENIUM ###

### S3 ###
localstack~=1.0.0 # For testing with S3
django-storages~=1.11.1
boto3>=1.20.0
### END S3 ###
